# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Env
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
dist/
build/

# Node (admin panel)
node_modules/

# Tests cache
.pytest_cache/
